.App {
  text-align: center;
  background-color: blanchedalmond;
}

.check-box {
  cursor: pointer;
  accent-color: white;
}

.clear-btn {
  border-radius: 6px;
  cursor: pointer;
  margin-right: 19rem;
  margin-top: 0.5rem;
  background-color: papayawhip;
  border-color: silver;
  font-style: italic;
}

.delete-btn {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.edit-btn {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.homepage-div {
  margin-top: 20rem;
}

.list-div {
  margin-top: 2rem;
}

.num-completed {
  margin-top: 3rem;
  margin-right: 19.1rem;
  font-size: 20px;
}

.top-text {
  font-size: 60px;
  margin-bottom: 5rem;
  margin-top: 1rem;
  font-style: italic;
}

.todo-input {
  background-color: ghostwhite;
  border-radius: 6px;
  border-color: silver;
  font-style: italic;
}

.todo-btn {
  border-radius: 6px;
  cursor: pointer;
  margin-left: 0.25rem;
  background-color: papayawhip;
  border-color: silver;
  font-style: italic;
}

.todo-list {
  border: 3px solid black;
  width: 500px;
  margin: auto;
  background-color: white;
  border-radius: 12px;
  box-shadow: 10px 20px rgb(222, 201, 169);
  
}

.todo-div {
  margin-left: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-size: 20px;
  border: 2px solid black;
  height: 50px;
  width: 300px;
  border-radius: 12px;
  background-color: powderblue;
  display: flex;
}

.todo-text {
  margin-top: 0.7rem;
  margin-left: 0.5rem;
  width: 75%;
  text-align: left;
}

.todo-title {
  font-size: large;
  font-weight: 700;
}

.todo-content {
  font-size: medium;
  font-weight: 400;
}